{
  "name": "{{ index_name }}",
  "@odata.context": "https://{{ service_name }}.search.windows.net/$metadata#indexes/$entity",
{%- if ontology_metadata and ontology_metadata.iri %}
  "_ontology_iri": "{{ ontology_metadata.iri }}",
{%- endif %}
{%- if ontology_metadata and ontology_metadata.version %}
  "_ontology_version": "{{ ontology_metadata.version }}",
{%- endif %}
{%- if ontology_metadata and ontology_metadata.toolkit_version %}
  "_toolkit_version": "{{ ontology_metadata.toolkit_version }}",
{%- endif %}
{%- if ontology_metadata and ontology_metadata.generated_at %}
  "_generated_at": "{{ ontology_metadata.generated_at }}",
{%- endif %}
  "fields": [
    {
      "name": "id",
      "type": "Edm.String",
      "searchable": false,
      "filterable": true,
      "retrievable": true,
      "sortable": true,
      "facetable": false,
      "key": true
    }
{%- for field in fields %},
    {
      "name": "{{ field.name }}",
      "type": "{{ field.edm_type }}",
      "searchable": {{ field.searchable|lower }},
      "filterable": {{ field.filterable|lower }},
      "retrievable": true,
      "sortable": {{ field.sortable|lower }},
      "facetable": {{ field.facetable|lower }}
    }
{%- endfor %}
  ],
  "suggesters": [],
  "scoringProfiles": [],
  "analyzers": [],
  "charFilters": [],
  "tokenizers": [],
  "tokenFilters": [],
  "defaultScoringProfile": null,
  "corsOptions": null,
  "synonymMaps": [
{%- for synonym_map in synonym_maps %}
    "{{ synonym_map }}"{% if not loop.last %},{% endif %}
{%- endfor %}
  ],
  "encryptionKey": null
}
