name: '{{ project_name }}'
version: '1.0.0'
config-version: 2

profile: '{{ project_name }}'

model-paths: ["models"]
analysis-paths: ["analyses"]
test-paths: ["tests"]
seed-paths: ["seeds"]
macro-paths: ["macros"]
snapshot-paths: ["snapshots"]
docs-paths: ["docs"]

clean-targets:
  - "target"
  - "dbt_packages"

models:
  {{ project_name }}:
    silver:
      +materialized: table
{%- for domain in domains %}
      {{ domain.name }}:
        +schema: 'silver_{{ domain.name }}'
        +tags: ['silver', '{{ domain.name }}']
{%- endfor %}
{%- if gold_domains %}
    gold:
      +materialized: table
{%- for domain in gold_domains %}
      {{ domain.name }}:
        +schema: 'gold_{{ domain.name }}'
        +tags: ['gold', '{{ domain.name }}']
{%- endfor %}
{%- endif %}
