version: 2
{% if ontology_metadata and ontology_metadata.iri %}
# Ontology IRI: {{ ontology_metadata.iri }}
{%- endif %}
{% if ontology_metadata and ontology_metadata.version %}
# Ontology version: {{ ontology_metadata.version }}
{%- endif %}

models:
  - name: {{ model_name }}
    description: {{ description }}
    columns:
{%- for column in columns %}
      - name: {{ column.name }}
        description: {{ column.description }}
        data_type: {{ column.data_type }}
{%- if column.tests %}
        tests:
{%- for test in column.tests %}
          - {{ test }}
{%- endfor %}
{%- endif %}
{%- endfor %}
