version: 2

models:
{%- for model in models %}
  - name: {{ model.name }}
    description: {{ model.description | tojson }}
{%- if model.meta %}
    meta:
{%- for key, value in model.meta.items() %}
      {{ key }}: "{{ value }}"
{%- endfor %}
{%- endif %}
{%- if model.grain_columns and model.grain_columns | length > 1 %}
    data_tests:
      - dbt_utils.unique_combination_of_columns:
          combination_of_columns:
{%- for grain_column in model.grain_columns %}
            - {{ grain_column }}
{%- endfor %}
{%- if model.grain_where %}
          config:
            where: {{ model.grain_where }}
{%- endif %}
      - dbt_utils.unique_combination_of_columns:
          combination_of_columns:
{%- for identity_column in model.source_identity_columns %}
            - {{ identity_column }}
{%- endfor %}
{%- if model.grain_where %}
          config:
            where: {{ model.grain_where }}
{%- endif %}
{%- endif %}
    columns:
{%- for column in model.columns %}
      - name: {{ column.name }}
        description: {{ column.description | tojson }}
{%- if column.meta %}
        meta:
{%- for key, value in column.meta.items() %}
          {{ key }}: "{{ value }}"
{%- endfor %}
{%- endif %}
{%- if column.tests %}
        tests:
{%- for test in column.tests %}
{%- if test is mapping %}
          - {{ test.keys() | first }}:
{%- for key, value in test[test.keys() | first].items() %}
              {{ key }}: {{ value }}
{%- endfor %}
{%- else %}
          - {{ test }}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- endfor %}
{%- endfor %}
