@prefix owl: <http://www.w3.org/2002/07/owl#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .

<https://{company_domain}/ont/master> a owl:Ontology ;
    rdfs:label "{company_name} Master Ontology"@en ;
    rdfs:comment "Unified ontology that imports all domain ontologies for {company_name}"@en ;
    owl:versionInfo "0.1.0" .

## -- Add owl:imports for each domain ontology below --
## Example:
##   owl:imports <https://{company_domain}/ont/customer> ;
##   owl:imports <https://{company_domain}/ont/order> .
